
Makefile
Makefile.in
config.h
compile
ar-lib
autom4te.cache/
config*
depcomp
install-sh
ltmain.sh
missing
stamp-h1
test-driver
libtool

*.m4
.*
*.log
*.o
*.la
*.lo
*.trs

tests/*
!tests/*.h
!tests/*.c
!tests/*.in
